<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/tachyons.min.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Pyla</title>
  </head>
  <body>
    <div id="app" class="center" v-cloak>
      <div v-if="globalError">
        <p>{{ globalError.message }}</p>
        <pre>{{ globalError.stack }}</pre>
      </div>
      <div v-else-if="pyodide">
        <h1 class="sans-serif f1">
          Pyla
        </h1>
        <label>
          Script
          <textarea class="db" v-model="script"></textarea>
        </label>
        <label>
          Requirements
          <textarea class="db" v-model="requirements"></textarea>
        </label>
        <button @click="run">Run Script</button>
        <div>
          <pre>{{ output.join('\n') }}</pre>
        </div>
      </div>
      <div v-else>
        <p>Python runtime is initializing ...</p>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/pyodide/v0.26.2/full/pyodide.js"></script>
    <script type="module" src="/src/main.js"></script>
  </body>
</html>
